# Default ignored files
.DS_Store
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
*.iml
/node_modules/
/dist/
/TEMP_CHROME/
/Users/rkrol/individual_ext/iconfig-glsde/node_modules
